:root{
    font-size: 62.5%;   
    --text-green-color: #688800; 
    --text-color: #4A4A4A;
}

img
{
    display: block;
}


header {
    display: flex;
    justify-content: center;
    font-family: 'El Messiri', sans-serif;
    padding-top: 5.6rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1500px;
}

.left-part-header{
    display: flex;
    justify-content: space-between;
    max-width: 1002px;
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--text-green-color);
}

.nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 742px;
}

ul {
    list-style-type: none;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8.8rem;
    font-size: 1.8rem;
}

.basket-menu {
    border: none;
    background-color: transparent;
}

.basket:hover {
    transform: scale(1.5);
    transition: 0.5s;
}

section {
    display: flex;
    justify-content: center;
}

.section-1 {
    margin-top: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    max-width: 1500px;
    padding-bottom: 15.9rem;
}

.olive {
    display: block;
    width: 100%;
    width: 557px;
    height: 694px;
    margin-right: 12.3rem;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 21.9rem;
    align-items: flex-start
}

.amatic {
    display: flex;
    font-size: 6.4rem;
    font-family: 'Amatic SC', cursive;
    color: var(--text-color);
    line-height: 125%;
    font-weight: 400;
    margin: 0rem;
    padding-bottom: 3.2rem;
}

.roboto {
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    line-height: 133%;
    font-weight: 300;
    max-height: 61.3rem;
}

.count {
    display: flex;
    width: 128px;
    height: 32px;
    margin-top: 2.4rem;
    margin-bottom: 0;
    justify-content: space-between;
}

.button-plus-minus {
    width: 32px;
    height: 32px;
    opacity: 0.5;
    background-color: #FFFFFF;
    border: 1px solid #949494;
    border-radius: 8px;
}

.count-text {
    font-family: 'Roboto', sans-serif;
    font-size: 2.4rem;
    line-height: 133.3%;
    font-weight: 500;
    color: var(--text-green-color);
}

.button {
    display: flex;
    gap: 4rem;
}

.button-smth {
    border: 1px solid #688800;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    color:var(--text-green-color);
    background-color: transparent;
    font-size: 1.8rem;
    line-height: 177%;
    margin-top: 2.4rem;
    display: flex;
    text-align: center;
    height: 4.8rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 4.8rem;
}

.button-smth:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

.menu{
    display: none;
}

@media screen and (max-width: 950px) {
    nav,
    .text,
    .button-smth {
    max-width: 460px;
    width: 100%;
    }
    .nav{
        display: none;
    }
    .menu{
        display: initial;
    }
    .text{
        justify-content: center;
        align-items: center;
    }
    .olive{
        margin-right: 0;
    }
    .button-smth{
        margin-top: 2.4rem;
        flex-direction: column;
    }
    .left-part-header{
        max-width: 40px;
    }
    .button{
        flex-direction: column;
    }
}

@media screen and (max-width: 1350px) {
    .menu{
        display: none;
    }
    .section-1{
        align-items: center;
        flex-direction: column;
    }
    .text{
        justify-content: center;
        align-items: center;
    }
    .olive{
        margin-right: 0;
    }
    .button-smth{
        margin-top: 2.4rem;
        flex-direction: column;
    }
    .section-1{
        padding-bottom: 9.6rem;
    }
}


.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;
}

h2 {
    font-family: 'Amatic SC', cursive;
    color: var(--text-color);
    padding-top: 5.6rem;
    line-height: 133.3%;
    font-weight: 400;
    padding-bottom: 2.4rem;
    font-size: 4.8rem;
}

.form-text {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    line-height: 133.3%;
    font-weight: 300;
    font-size: 1.8rem;
    padding-bottom: 2.4rem;
}

.fieldset-1 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 2rem;
    padding: 2rem;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-wrapper > input:focus {
    background-color: rgba(152, 212, 152, 0.199);
}

.button-class{
    background-color: transparent;
    font-size: 1.8rem;
    line-height: 177%;
    margin-top: 2.4rem;
    display: flex;
    text-align: center;
    height: 4.8rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 4.8rem;
    margin-bottom: 1rem;
    gap: 3rem;
}

.button-send {
    border: 1px solid #688800;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    color:var(--text-green-color);
    background-color: transparent;
    font-size: 1.8rem;
    line-height: 177%;
    margin-top: 2.4rem;
    display: flex;
    text-align: center;
    height: 4.8rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 4.8rem;
}

.button-img {
    display: flex;
}

.button-send:hover{
    transform: scale(1.05);
    transition: 0.5s;
    }